:root {
  --clr-purple-dark: #13163D;
  --clr-purple: #4950AE;
  --clr-white: #FFFF;
  --clr-green: #44C651;
  --clr-red: #E24040;
  --clr-blue: #0EB5FC;
  --clr-purple-bright: #7F41FD;
}

body {
  font-family: "Nunito", serif;
  background-color: var(--clr-purple-dark);
  display: flex;
  justify-content: center;
}

.question-container {
  background-color: var(--clr-purple);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px;
  margin-top: 100px;
  border-radius: 5px;
  text-align: center;
}

.question h1 {
  color: var(--clr-white);
}

.answer {
  cursor: pointer;
  transition: 0.25s ease-in-out;
}

.answer:hover {
  background-color: var(--clr-purple-bright);
}

.answer p {
  color: var(--clr-white);
  font-size: 1.25rem;
  border: 2px solid var(--clr-white);
  border-radius: 5px;
  padding: 10px 180px;
}